<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
			   xmlns:set="http://www.sitecore.net/xmlconfig/set/"
			   xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>

    <settings>
      <setting name="ContentHubCustomisations.IndexName" value="sitecore_master_index" />
      <setting name="ContentHubCustomisations.EnableAssetUsageController" value="true" role:require="ContentManagement or Standalone" />

      <setting name="ContentHubCustomisations.InstanceUrl" value="https://markdemo.sitecoresandbox.cloud/" />

      <setting name="ContentHubCustomisations.Facade.Endpoint" value="http://localhost:5000" />
      <setting name="ContentHubCustomisations.Facade.ApiKey" value="5ho49r4togdjgbbnleO3gsfngKnsqU05VmSXgf0" />
    </settings>


    <contentSearch>
      <indexConfigurations>
        <defaultSolrIndexConfiguration type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <documentOptions type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
            <fields hint="raw:AddComputedIndexField">
              <!-- Extracts ContentHub AssetIds from image fields -->
              <field fieldName="contenthub_assetids" 
                     type="ContentHubTalk.ContentSearch.ContentHubImagesComputedField, ContentHubTalk" 
                     returnType="stringCollection">
              </field>
            </fields>
          </documentOptions>
        </defaultSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>

    <pipelines>
      <initialize>
        <processor type="ContentHubTalk.Pipelines.Initialize.RegisterApiRoute, ContentHubTalk" patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']" />
      </initialize>
    </pipelines>

    <services>
      <configurator type="ContentHubTalk.DependencyInjection.ApiControllerConfigurator, ContentHubTalk"/>
    </services>
  </sitecore>
</configuration>
