<?xml version="1.0" encoding="utf-8"?>
<connectionStrings configBuilders="SitecoreConnectionStringsBuilder">
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="Data Source=(local);Initial Catalog=sc10.2_Core;User ID=coreuser;Password=z0C6aLbee268S9FFgK3R" />
  <add name="security" connectionString="Data Source=(local);Initial Catalog=sc10.2_Core;User ID=securityuser;Password=1ywmuY0sh0uOxy44Orhh" />
  <add name="master" connectionString="Data Source=(local);Initial Catalog=sc10.2_Master;User ID=masteruser;Password=kJcSsfdSRdEeR1jC0L1q" />
  <add name="web" connectionString="Data Source=(local);Initial Catalog=sc10.2_Web;User ID=webuser;Password=bDZdT6ottJrHa8Ps5wla" />
  <add name="messaging" connectionString="Data Source=(local);Initial Catalog=sc10.2_Messaging;User ID=messaginguser;Password=9ugtSc0RMH0tooChAoKW" />
  <add name="xdb.processing.pools" connectionString="Data Source=(local);Initial Catalog=sc10.2_Processing.Pools;User ID=poolsuser;Password=rQxSYAe3WEv9vbLCUHzV" />
  <add name="xdb.referencedata" connectionString="Data Source=(local);Initial Catalog=sc10.2_ReferenceData;User ID=referencedatauser;Password=dRYvCDP2F1j3VmfqbXTd" />
  <add name="xdb.processing.tasks" connectionString="Data Source=(local);Initial Catalog=sc10.2_Processing.Tasks;User ID=tasksuser;Password=HVErqnfbwik3HUvUKHSA" />
  <add name="experienceforms" connectionString="Data Source=(local);Initial Catalog=sc10.2_ExperienceForms;User ID=formsuser;Password=8CW21Qa08tKPHjSthCrv" />
  <add name="exm.master" connectionString="Data Source=(local);Initial Catalog=sc10.2_EXM.Master;User ID=exmmasteruser;Password=jMB8VFrytQiHAsyyMKPF" />
  <add name="reporting" connectionString="Data Source=(local);Initial Catalog=sc10.2_Reporting;User ID=reportinguser;Password=E5zWL59moxaWdqifAS67" />
  <add name="cortex.processing.engine" connectionString="https://sc10.2xconnect.dev.local" />
  <add name="cortex.processing.engine.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=D8494BDCE12909018F57D6917B38F8D6A09267D2" />
  <add name="sitecore.reporting.client" connectionString="https://sc10.2xconnect.dev.local" />
  <add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=D8494BDCE12909018F57D6917B38F8D6A09267D2" />
  <add name="solr.search" connectionString="https://localhost:8983/solr" />
  <add name="sitecoreidentity.secret" connectionString="jWEUo2swI96kHFIShd2aF2wQRcWkQPko31pFqxxfT5424tLgpaBFc1qs92QG8eXqhHpxTymZgvU46i0YPTB8xMlD0o4lc6rIWQcW" />
  <add name="xconnect.collection" connectionString="https://sc10.2xconnect.dev.local" />
  <add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=D8494BDCE12909018F57D6917B38F8D6A09267D2" />
  <add name="xdb.marketingautomation.operations.client" connectionString="https://sc10.2xconnect.dev.local" />
  <add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=D8494BDCE12909018F57D6917B38F8D6A09267D2" />
  <add name="xdb.marketingautomation.reporting.client" connectionString="https://sc10.2xconnect.dev.local" />
  <add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=D8494BDCE12909018F57D6917B38F8D6A09267D2" />
  <add name="xdb.referencedata.client" connectionString="https://sc10.2xconnect.dev.local" />
  <add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=D8494BDCE12909018F57D6917B38F8D6A09267D2" />
  <add name="EXM.CryptographicKey" connectionString="0x4526977948262494302416224795078545643511934759091372129968126763" />
  <add name="EXM.AuthenticationKey" connectionString="0x4211770323127543759262851761999150310430622044337411127765758963" />
  
  <!-- Content Hub -->
  <add name="DAM.ContentHub" connectionString="https://markdemo.sitecoresandbox.cloud/" />
  <add name="DAM.SearchPage" connectionString="https://markdemo.sitecoresandbox.cloud/en-us/sitecore-dam-connect/approved-assets"/>
  <add name="DAM.ExternalRedirectKey" connectionString="Sitecore"/>


</connectionStrings>
